<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="add Task" />
  </div>

  <div class="form-control">
    <label for="text">Day and Time</label>
    <input type="text" name="day" [(ngModel)]="day" id="text" placeholder="add Date and Time" />
  </div>
  <div class="form-control form-control-check">
    <label for="text">Set Reminder</label>
    <input type="checkbox" [(ngModel)]="reminder" name="Reminder" id="checkbox" />
  </div>

  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
